@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  height: 100%;
  width: auto;
  margin: 0;
  background-color: #1a1919;

}

html {
  overflow-x: hidden;
}

.leaderboardPage {
  background-image: url(bar.jpg);
  height: 100%;
  width: 100%;
  opacity: 0.75;
  min-width: 1000;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% {opacity: 1; }
}

.leaderboardHeader {
  color: white;
  font-size: 100px;
  font-family: 'Roboto';
  animation: fadeIn 3s;
}

.logo {
  width: 280px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: black;
  padding: 0px;
}

nav ul {
  padding-inline-start: 0px;
  margin-inline-end: 3em;
}

nav ul li {
  display: inline-block;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  vertical-align: middle;
  list-style: none;
  margin: 10px 30px;
  font-size: 25px;
  color:white;
}

nav ul li a {
  color: #d46337;
  text-decoration: none;
  font-family: 'Bangers';
}

nav ul li a:hover {
  color: #74d3f2
}

.active {
  color: #252669;
}
